---
const { title, class: className } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {title ? title + " - " : ""}
      rivo's notes
    </title>
  </head>
  <body class="font-serif bg-light-400 text-dark-900 max-w-screen-md mx-auto mt-32 px-8">
    <main class:list={[className]}>
      <slot />
    </main>
  </body>
</html>
